stages:
  - deploy

deploy:
  stage: deploy
  before_script:
    - apt-get update -y && apt-get install -y git openssh-client
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H ailogi.se >> ~/.ssh/known_hosts
  script:
    - ssh -i ~/.ssh/id_rsa alogi@ailogi.se "cd ~/app/ailogi && git pull origin main"
  only:
    - main
